.mobile-options-wrapper {
  width: 100vw;
  height: 150vw;
}
#six-options-wrapper {
  width: 100vw;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.option-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 8vw;
}
#social-media-icons-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
}
